* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Unkempt', cursive;
	text-decoration: none;
    color: #00ff00;
}

* p {
    width: 541px;
    height: 100px;
    position: relative;
    animation-name: yayHoli;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes yayHoli {
	0%   {left:0%; top:0px;}
    25%  {left:45%; top:0px;}
    50%  {left:45%; top:30px;}
    75%  {left:0%; top:30px;}
    100% {left:0%; top:0px;}
}

@media only screen and (max-width: 1000px) {
	p {
		display: none;
	}
}
@media only screen and (min-width: 1000px) {
	h1 {
		display: none;
	}
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}