* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
	background-image: url('http://dl7.glitter-graphics.net/pub/1028/1028687iny09odp3n.gif');
	background-attachment: fixed;
	background-repeat: repeat;
	color: #FFFF00;
}
a:visited {
    color: #80FFFF;
}
a:link {
    color: #FFFF00;
}
a:hover {
    color: #FF0000;
}
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Unkempt', cursive;
	text-decoration: none;
    color: #00ff00;
}
* h2 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
    color: #ffffff;
}
* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.img-responsive {
    display: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto 
}
.welcome {
	height: 50px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.welcome h1 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	color: yellow;

	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);

	-moz-animation: scroll-left 15s linear infinite;
	-webkit-animation: scroll-left 15s linear infinite;
	animation: scroll-left 15s linear infinite;
}
.table {
	width: 100%;
	text-align: center;
	background-color: #000000;
	border-width: 1px;
	padding-left: auto;
	padding-right: auto;
}

.game {
	text-align: center;
}

.music {
	margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.copyright {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #ff00ff;
    padding-bottom: 20px;
}

.penguins {
	height: 300px;
	overflow: hidden;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.penguin {
    max-width: 29px;
    height: auto;
    margin-left: auto;
    margin-right: 50px; 
	line-height: 500px;
	text-align: center;

	-moz-transform:translateY(500px);
	-webkit-transform:translateY(500px);	
	transform:translateY(500px);

	-moz-animation: scroll-down 5s linear infinite;
	-webkit-animation: scroll-down 5s linear infinite;
	animation: scroll-down 5s linear infinite;
}

@-moz-keyframes scroll-left {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0% { 
	 	-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%); 		
	}
	100% { 
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%); 
		transform: translateX(-100%); 
	}
}

@-moz-keyframes scroll-down {
	0%   { -moz-transform: translateY(0px); }
	100% { -moz-transform: translateY(500px); }
}
@-webkit-keyframes scroll-down {
	0%   { -webkit-transform: translateY(0px); }
	100% { -webkit-transform: translateY(500px); }
}
@keyframes scroll-down {
	0% { 
	 	-moz-transform: translateY(0px); 
		-webkit-transform: translateY(0px); 
		transform: translateY(0px); 		
	}
	100% { 
		-moz-transform: translateY(500px); 
		-webkit-transform: translateY(500px); 
		transform: translateY(500px); 
	}
}
@media only screen and (max-width: 500px) {
	.game {
		display: none;
	}
}