* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
a:visited {
	color: #00ff00;
}
a:link {
	color: #0066ff;
}
a:hover {
	color: hotpink;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
    margin-right: auto 
}
.footer {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #00ff00;
}
.sidebar {
	margin: 0 auto;
    width: 50%;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: 16.66%;
}

