* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

.xmas {
	margin: 0 auto;
    width: 100%;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    width: 50%;
}
.img-responsive {
    display: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto 
}
.separator {
    display: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto 
}
.lyrics {
    display: center;
    background-color: #0066ff;
    width:60%;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    text-align: center;
    font-family: 'Unkempt', cursive;
    color: #ff0000;
}
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
    color: #ffffff;
    font-size:75px;
    line-height: 75px;
    font-weight: 400;
}
* h2 {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Frijole', cursive;
    text-decoration: none;
    color: #0066ff;
    font-size:50px;
    line-height: 50px;
    font-weight: 300;
}
* h3 {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #ff0000;
    font-size:25px;
    line-height: 25px;
    font-weight: 200;
}
* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    text-decoration: none;
    color: #ffffff;
}
a:visited {
    color: #00ff00;
}
a:link {
    color: #0066ff;
}
a:hover {
    color: hotpink;
}
body {
	background-image: url('http://dl6.glitter-graphics.net/pub/3135/3135336i80ijo5nta.gif');
	background-attachment: fixed;
	background-repeat: repeat;
    padding: 20px;
    font-weight: 400;	
}
ul {
  margin:0 auto 30px auto;
  padding:0;
  list-style-type:none;
  max-width:900px;
  width: 100%;
  text-align: center;
  user-select: none;
  font-family: 'Gloria Hallelujah', cursive;
}

li {
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  color:#111;
  cursor:pointer;
  font-size: 26px;
  padding:15px;
  margin:25px 12px;
  width: 130px;
  height:130px;
  line-height: 100px;
  text-align:center;
  position: relative;
  vertical-align:top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
}

ul li:last-child {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/santa.jpg") center top;
  background-size:cover;  
  display:block;
  clear:both;
  margin: 20px auto 0 auto;
  width: 200px;
  height: 275px;
}

ul li:last-child .door {
  font-size: 100px;
  width: 200px;
  height: 275px;
  line-height: 240px;
}

ul li:last-child .revealed {
  line-height: 123px;
}

.door {
  user-select: none;
  color:#00ff00;
  font-size: 70px;
  position: absolute;
  top:0;
  left:0;
  background-color: #ff0000;
  box-sizing: border-box;
  border-top: 2px #eee dashed;
  border-right: 2px #eee dashed;
  border-bottom: 2px #eee dashed;
  border-left: 1px #eee solid;
  border-radius: 6px;
  padding:15px;
  width: 130px;
  height:130px;
  transform-origin: 0 40%; 
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;

}

.current .door {
  background-color: #7EAD44;
}

.current .door.open{
  color: #7EAD44;
}

.revealed {
  user-select: none;
}

#message {
  box-sizing: border-box;
  color: #222;
  display: none;
  font-size: 24px;
  padding: 20px;
  background: #eddecb;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}

.open {
  box-shadow: 14px 0px 15px -1px rgba(0,0,0,0.2);
  color: #91c1cc;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
        transform: rotate(-1deg);
  }
  50% {
      transform: rotate(1deg);
  }
}

@media screen and (min-width: 480px) {
  li {
    margin:25px 20px;
  }
}


@media screen and (min-width: 768px) {
    body {
        background-size:150px;
    }
    
    p {
        right: 6%;
        top: 20%;
        bottom: auto; 
        margin-left: auto;
        left: auto;
    }
}

@media only screen and (max-width: 600px) {
    .img-responsive {
        display: none;
    }
    .lyrics {
        width: 100%;
    }
}

.frame {
  display: inline-block;
  padding: 6px;
  background-color: #0066ff;
  border-radius: 2px;
  color: white;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.frame canvas {
  display: block;
  padding: 15px 30px 15px 30px;
  background-color: black;
}


