* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
  background: radial-gradient(#0066ff, #00ff00);
  perspective: 500px;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}
.video {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    display: inline-block;
}
iframe {
	width: 560px;
}
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
    color: #ffffff;
    font-size:50px;
    line-height: 75px;
    font-weight: 400;
    padding-top: 50px;
}
* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: #2313f3;
}
* h2 {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Frijole', cursive;
    text-decoration: none;
    color: #0066ff;
    font-size:10px;
    line-height: 50px;
    font-weight: 300;
}

.col-6 {
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .video {
        display: none;
    }
}