* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  background: radial-gradient(#ff0000, #0000ff);
  perspective: 500px;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Sacramento', cursive;
	text-decoration: none;
    color: #ffffff;
    font-size:50px;
    line-height: 75px;
    font-weight: 400;
    padding-top: 50px;
}
* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: #00ff00;
}
a:visited {
    color: gray;
}
a:link {
    color: #ffffff;
}
a:hover {
    color: hotpink;
}