* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
  background-image: url('yule.jpeg');
  background-attachment: absolute;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #000000;
  padding-top: 20px;
    padding: 20px;
    font-weight: 400; 
}

.row {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.img-responsive {
    display: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto 
}

.lyrics {
    display: center;
    background-color: #000000;
    width:60%;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 850px;
    overflow: scroll;
    text-align: center;
    font-family: 'Unkempt', cursive;
    color: #ff0000;
}
* h1 {
  margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
    color: #0000ff;
    font-size:75px;
    line-height: 75px;
    font-weight: 400;
}

* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: #2313f3;
}
a:visited {
    color: #00ff00;
}
a:link {
    color: #0066ff;
}
a:hover {
    color: hotpink;
}

.music {
	margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}
@media only screen and (max-width: 600px) {
    .lyrics {
        width: 100%;
    }
}