* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
	background-image: url('https://openclipart.org/download/167956/candlesns.svg');
	background-attachment: fixed;
	background-position: center 20px;
	background-repeat: no-repeat;
	color: #FFFF00;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
* h1 {
	margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
    color: #000000;
    font-size:50px;
    line-height: 75px;
    font-weight: 400;
}
* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Sancreek', cursive;
    text-decoration: none;
    color: #0000ff;
    padding-top: 20px;
}