* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
body {
  background-image: url('http://dl5.glitter-graphics.net/pub/1651/1651545fvmq7we4mn.gif');
  background-attachment: fixed;
  background-repeat: repeat;
    padding: 20px;
    font-weight: 400; 
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.img-responsive {
    display: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto 
}
* h1 {
  margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
  font-family: 'Sacramento', cursive;
  text-decoration: none;
    color: #0000ff;
    font-size:75px;
    line-height: 75px;
    font-weight: 400;
}

* p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-family: 'Sancreek', cursive;
    text-decoration: none;
    color: #ff0000;
}
a:visited {
    color: #00ff00;
}
a:link {
    color: #0066ff;
}
a:hover {
    color: hotpink;
}
.dreidel {
  bottom: 0;
  height: 150px;
  left: 0;
  margin: auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  right: 0;
  top: 0;
  width: 150px;
  animation: rotate 5s linear infinite;
}
.face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fbd19c;
}
.cvs{border:1px solid #444;}
.back {
	content:url("nun.png");
}

.left {
	transform: translateX(-150px) rotateY(-90deg);
	transform-origin: right center;
	content:url("shin.png");
}

.right {
	transform: translateX(150px) rotateY(90deg);
	transform-origin: left center;
	content:url("gimel.png");
}

.top {
	transform: translateY(-150px) rotateX(90deg);
	transform-origin: bottom center;
}

.bottom {
	transform: translateY(150px) rotateX(-90deg);
	transform-origin: center top;
}

.front {
	transform: translateY(450px) translateZ(-150px) rotateX(180deg);
	transform-origin: center -150px;
	content:url("hay.png");
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  }
  50% {
    transform: rotateY(360deg) rotateX(10deg) rotateZ(0deg)
  }
  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg)
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  }
  50% {
    transform: rotateY(180deg) rotateX(15deg) rotateZ(0deg)
  }
  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg)
  }
}